{% extends 'layout.html.twig' %}

{% block content %}
    <h3>Average values per days</h3>
    {% if statistics.metrics|length == 0 %}
        <p>Section has no metrics</p>
    {% else %}
        <table class="highlight">
            <thead>
            <tr>
                <th>Date</th>
                {% for metric in statistics.metrics %}
                    <th>{{ metric.title }}</th>
                {% endfor %}
            </tr>
            </thead>

            <tbody>
                {% for day, valuePerDays in statistics.values %}
                    <tr>
                        <td>{{ day }}</td>
                        {% for valuePerMetric in valuePerDays %}
                            <td>{{ valuePerMetric.averageValue }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
