{% extends 'layout.html.twig' %}

{% block content %}
    {% if statistics.headers|length == 0 %}
        <p>Section has no metrics</p>
    {% else %}
        <p>Average values per days</p>
        <table class="highlight">
            <thead>
            <tr>
                <th>Date</th>
                {% for header in statistics.headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
            </thead>

            <tbody>
                {% for day, valuePerDays in statistics.values %}
                    <tr>
                        <td>{{ day }}</td>
                        {% for valuePerMetric in valuePerDays %}
                            <td>{{ valuePerMetric.averageValue }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
